.grid{
    height: 480px;
}
.grid-col1{
    height: 100%;
    width: 190px;
    font-size: 16px;    /* 设置 / 的大小 */
    /* color: #fff;    */
    background-color: #fff;
}
.grid-col1 a{
    font-size: 14px;
    color: rgb(46, 30, 30);   /* 设置链接文字的大小 */
    margin: 0 3px;
}
.grid-col1 ul{
    padding: 10px 0;
}
.grid-col1 ul li{
    padding-left: 20px;
    height: 29px;
    line-height: 26px;
}
.grid-col1 ul li:hover{
    background-color: #999;
}
.grid-col1 ul li a:hover{
    color: #f10125;
}
.grid-col2{
    height: 100%;
    width: 790px;
    /* background-color: purple; */
    margin-left: 10px;
}
.grid-col2-t{
    position: relative;
}
.arrow-r,
.arrow-l{
    position: absolute;
    width: 30px;
    height: 60px;
    top: 50%;
    background: rgba(0,0,0,0.3);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 60px;
    font-weight: normal;
    text-align: center;
}
.arrow-r{
    right: 0;
}
.circle{
    width: 175px;
    height: 20px;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    left: 50%;
    bottom: 20px;
}
.circle li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: left;
    
}
.grid-col2-b img{
    margin-top: 10px;
}
.grid-col3{
    height: 100%;
    width: 190px;
    background-color: red;
}