.grid{
    height: 480px;
}
.grid-col1{
    height: 100%;
    width: 190px;
    font-size: 16px;    /* 设置 / 的大小 */
    /* color: #fff;    */
    background-color: #fff;
}
.grid-col1 a{
    font-size: 14px;
    color: rgb(46, 30, 30);   /* 设置链接文字的大小 */
    margin: 0 3px;
}
.grid-col1 ul{
    padding: 10px 0;
}
.grid-col1 ul li{
    padding-left: 20px;
    height: 29px;
    line-height: 26px;
}
.grid-col1 ul li:hover{
    background-color: #999;
}
.grid-col1 ul li a:hover{
    color: #f10125;
}
.grid-col2{
    height: 100%;
    width: 790px;
    /* background-color: purple; */
    margin-left: 10px;
}
.grid-col2-t{
    position: relative;
}
.arrow-l,
.arrow-r{
    position: absolute;
    width: 30px;
    height: 60px;
    top: 50%;
    background: rgba(0,0,0,0.3);
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 60px;
    font-weight: normal;
    text-align: center;
}
.arrow-r{
    right: 0;
}
.circle{
    width: 175px;
    height: 20px;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    transform: translateX(-50%);
}
ul{
    list-style: none;
    padding: 0;
}
.circle li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: left;
    background-color: #fff;
    margin: 4.5px;
    cursor: pointer;
}
.circle .current{
    background-color: #f10125;
}
.grid-col2-b img{
    margin-top: 10px;
}
.grid-col3{
    height: 100%;
    width: 190px;
}

/* 右边模块 */
.login{
    height: 115px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
}
.login-t{
    position: relative;
    width: 95px;
    height: 60px;
    line-height: 20px;
    font-size: 12px;
    white-space: nowrap;    /* 强制一行内执行 */
    overflow: hidden;   /* 溢出隐藏 */
    text-overflow: ellipsis;    /* 超出部分显示省略号 */
    color: #666;
    padding-left: 60px;
}
.login-t a{
    color: #666;
}
.login-t a:hover{
    color: #f10125;
}
.profile{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: url(../images/sprite_userinfo@1x.png) no-repeat -70px 0;
}
.profile img{
    width: 40px;
    border-radius: 50%;
    margin: 5px;
}
.login-b a{
    display: inline-block;
    width: 70px;
    height: 20px;
    line-height: 20px;
    border: 2px solid #f10125;
    margin-right: 3px;
    text-align: center;
    color: #f10125;
    font-size: 12px;
}
.login-b a:hover{
    background-color: #f10125;
    color: #fff;
}
.news{
    height: 155px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 7px 13px 0;
    box-sizing: border-box;
    color: #ccc;
    font-size: 12px;
}
.news-t{
    height: 19px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.news-t a{
    float: left;
    height: 17px;
    line-height: 17px;
}
.news-t div{
    width: 28px;
    height: 2px;
    background-color: #f10125;
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.first{
    width: 38px;
    border-right: 1px solid #ccc;
}
.last{
    margin-left: 15px;
}
.news-t .more{
    float: right;
}
.news-b{
    padding-top: 15px;
}
.news-b li{
    line-height: 23px;
    height: 23px;
}
.expands{
    height: 209px;
    background-color: #fff;
    overflow: hidden
}
.expands ul{
    width: 195px;
}
.expands li{
    width: 47px;
    height: 69px;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.expands li i{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: url(../images/sprite_fs@1x.png) no-repeat;
    width: 18px;
    height: 23px;
    background-position: -5px -88px;
}
.expands li i:first-child{

}
.expands li a{
    display: block;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
}
